@font-face {
  font-family: "Ubuntu_Mono";
  src: local("Ubuntu_Mono"),
  url("./fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf") format("truetype");
  font-weight: 300;
}

.font-face-title {
  margin: 10px;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu_Mono",cursive;
  font-size: 40pt;
  color: #373737;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FEFE;
  height: 100vh;
}
